<div class="container-fluid">
  <div class="row">

      <div class="stat-card">
        <div class="header">
          <h4>Goals</h4>
        </div>
        <div class="player-row" *ngFor="let player of players, let i = index">
            <div class="index">{{i + 1}}</div>
            <div class="player-item">{{player.firstName}} {{player.lastName}}</div>
            <div class="player-item right">{{player.playerSeasonStats.goals}}</div>
        </div>
      </div>

      <div class="stat-card">
        <div class="header">
          <h4>Assists</h4>
        </div>
        <div class="player-row" *ngFor="let player of players, let i = index">
            <div class="index">{{i + 1}}</div>
            <div class="player-item">{{player.firstName}} {{player.lastName}}</div>
            <div class="player-item right">{{player.playerSeasonStats.goals}}</div>
        </div>
      </div>

      <div class="stat-card">
        <div class="header">
          <h4>MoM</h4>
        </div>
        <div class="player-row" *ngFor="let player of players, let i = index">
            <div class="index">{{i + 1}}</div>
            <div class="player-item">{{player.firstName}} {{player.lastName}}</div>
            <div class="player-item right">{{player.playerSeasonStats.goals}}</div>
        </div>
      </div>
      
  </div> 
</div>
