.stat-card{
    flex:1;
    border:solid 0.5px;
    border-color:lightgray;
    box-shadow: 5px 10px 8px #888888;
    margin: 20px;
    border-radius:10px;
    background-color:rgba(255, 163, 26, 0.5);;
    color: black;
}

.header{
    text-align: left;
    h4{
        padding: 0.5rem;
    }
}

.hero{
    background-color: papayawhip;
    height: 7rem;
    box-shadow: 5px 20px 20px -16px;
    border-radius: 80px;
    font-family: cursive;
    color: #b38706;
    align-items: center;
}

.player-row{
    display:flex;
    flex-wrap: wrap;
    padding:0.5rem;

    .player-item{
        flex:1
    }
    .index{
        flex:0.20;
    }
    .right{
        text-align:right;
        padding-right:2rem;
    }
    .trophy{
        height: 6rem;
        border-radius: 100%;
    }
    

}

@media screen and (max-width: 992px) {
    .row{
        flex-direction: column;
    }
}