<div class="container-fluid">
  <div class="row">
    <h1>Player Statistics</h1>
  </div>
</div>


<div class="container-fluid">
  <div class="row">

      <div class="stat-card">
        <div class="header navbar-toggler" data-toggle="collapse" data-target="#goals">
          <h4>Goals</h4>
        </div>
        <div class="collapse" id="goals">
            <div [ngClass]="i == 0 ? 'player-row hero' : 'player-row'" *ngFor="let player of playerGoals, let i = index">
                <div class="index">{{i + 1}}</div>
                <div class="player-item">{{player.firstName}} {{player.lastName}}</div>
                <div *ngIf="i == 0" class="trophy"><span></span></div>
                <div class="player-item right">{{player.playerSeasonStats.goals}}</div>
            </div>
        </div>
        
      </div>

      <div class="stat-card">
        <div class="header navbar-toggler" data-toggle="collapse" data-target="#assists">
          <h4>Assists</h4>
        </div>
        <div class="collapse" id="assists">
          <div [ngClass]="i == 0 ? 'player-row hero' : 'player-row'" *ngFor="let player of playerAssists, let i = index">
            <div class="index">{{i + 1}}</div>
            <div class="player-item">{{player.firstName}} {{player.lastName}}</div>
            <div *ngIf="i == 0" class="trophy"><span></span></div>
            <div class="player-item right">{{player.playerSeasonStats.assists}}</div>
          </div>
          </div>
      </div>

      <div class="stat-card">
        <div class="header navbar-toggler" data-toggle="collapse" data-target="#mom">
          <h4>Most MoM's</h4>
        </div>
        <div class="collapse" id="mom">
          <div [ngClass]="i == 0 ? 'player-row hero' : 'player-row'" *ngFor="let player of playerMoM, let i = index">
            <div class="index">{{i + 1}}</div>
            <div class="player-item">{{player.firstName}} {{player.lastName}}</div>
            <div *ngIf="i == 0" class="trophy"><span></span></div>
            <div class="player-item right">{{player.playerSeasonStats.mom}}</div>
          </div>
          </div>
      </div>
      
  </div> 
</div>
