.banner{
    height: 10rem;
    width: 100%;
    color: #fff;
    text-align: center;
    justify-content: center;

    h2{
        font-family: HelveticaNeueW02,sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2;
        color: #fff;
    }

    p{
        font-style: italic;
        font-size: 12px;
    }

    img{
        border-radius: 50%;
        height: 6rem;
        margin: 10px;
    }
}