.banner{
    height: 10rem;
    width: 100%;
    color: #fff;
    text-align: center;
    justify-content: center;

    h2{
        font-family: HelveticaNeueW02,sans-serif;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        color: #fff;
    }

    p{
        font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
        font-style: italic;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: .4px;
    }

    img{
        border-radius: 50%;
        height: 6rem;
        margin: 10px;
    }
}