<nav class="navbar navbar-dark navbar-expand-md fixed-top colour">
  <button class="navbar-toggler" data-target="#navbarToggleExternalContent" data-toggle="collapse" type="button"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="isAuthenitcated" class="user">Hello, {{userName}}</div>

  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li *ngIf="isAuthenitcated" class="nav-item">
            <a class="nav-link pointer" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
              <a *ngIf="!isAuthenitcated" class="nav-link pointer" (click)="login()">Login</a>
              <a *ngIf="isAuthenitcated" class="nav-link pointer" (click)="logout()">Logout</a>
          </li>
      </ul>
  </div>
</nav>
