.colour{
    background-color: #ffa31a;
}

.nav-item{
    .nav-link{
        color:white !important;
    }
    &:hover{
        background-color: black;
    }
}

.user{
    font-family: cursive;
    font-style: italic;
    color:black;
}
