<div class="container-fluid">
  <div class="row">
    <h1 class="title">Blackhill and Ebchester FC</h1>
    <img src="src\images\badge.jpg">
  </div>
</div>

<div class="container-fluid">
  <div class="flex-container">
    <div class="flex-item pointer" routerLink="/matches">
      <div class="col-sm">
        <h1>Fixtures and Results</h1>
      </div>
      

    </div>
    <div class="flex-space"></div>
    <div class="flex-item2 pointer" routerLink="/stats">
      <div class="col-sm">
        <h1>View Player Statistics</h1>
      </div>

    </div>
  </div>
</div>



