<div class="container-fluid background-image">
    <div class="row align-items-center h-100 ">
      <div class="jumbotron pointer" routerLink="/matches">
        <h1>Fixtures and Results</h1>
        
        
      </div>
    </div>
</div>

<div class="container-fluid background-image">
  <div class="row align-items-center h-100 ">
    <div class="jumbotron pointer" routerLink="/stats">
      <h1>View Player Statistics</h1>
      
      
    </div>
  </div>
</div>

<div class="container-fluid banner">
  <img src="src\images\badge.jpg">
  <h1>About Us</h1>
  <p>1st Division Newcastle Corinthians league</p>
  <p>Established for over 50 years</p>
</div>

